<strong>URL:</strong> <a href="{{ resource.getSendLink() }}">{{ resource.getSendLink() }}</a><br/>
<strong>{{ 'label.author'|trans }}:</strong> {{ resource.getAuthor() }}<br/>
<strong>{{ 'label.publisher'|trans }}:</strong> {{ resource.getPublisher() }}<br/>
<strong>{{ 'label.tnop'|trans }}:</strong> {{ resource.getTnop() }}<br/>