<fieldset class="ui-corner-all margin-top-3">
    <div id="vtp-projectdata-box">
        {% if infoprojectdata is defined and infoprojectdata is not empty %}
            <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
                <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infoprojectdata }}
            </div>
        {% endif %}
            <div id="vtp-projectdata-sheet-view" class="ui-corner-all vtp-fh-w70">{{ project.projectdata.sheet|raw }}</div>
            <div id="vtp-projectdata-sheet-info" class="ui-corner-all vtp-fh-w25">
                <p>
                    Erstellt von: <span>{{ project.user.username }}</span>
                </p>
                <p>
                    Erstellt am: <span>{{ project.getCreatedAt|date('d.m.Y') }}</span>
                </p>
                <br/>
                <p>{{'Linked Records'|trans}}:</p>
                <p>{{'label.project'|trans}}: <span>{{ resourceInfo.prjc }}</span></p>
                <p>{{'label.lexicon'|trans}}: <span>{{ resourceInfo.lexc }}</span></p>
                <p>{{'label.pdf'|trans}}: <span>{{ resourceInfo.pdfc }}</span></p>
                <p>{{'label.textlink'|trans}}: <span>{{ resourceInfo.telic }}</span></p>
                <p>{{'label.link'|trans}}: <span>{{ resourceInfo.linkc }}</span></p>
                <p>{{'label.book'|trans}}: <span>{{ resourceInfo.bookc }}</span></p>
                <p>{{'label.address'|trans}}: <span>{{ resourceInfo.adrc }}</span></p>
            </div>
    </div>
</fieldset>

