<div ng-controller="ToDoController" id="todocontroller">
    <form name="toDoForm">
    <fieldset class="ui-corner-all margin-top-3" ng-cloak style="padding: 10px 15px 10px 10px">
        <div>
            <input type="text" style="display: none" ng-init="user.id={{ user.getID }}" ng-model="user.id">
            <input type="text" style="display: none" ng-init="user.number_of_todo_elements={{ user.getUserConfig.getNumberOfTodoElements }}" ng-model="user.number_of_todo_elements">
            <input type="text" style="display: none" ng-init="user.height_of_todo_list={{ user.getUserConfig.getHeightOfTodoList }}" ng-model="user.height_of_todo_list">

            <div>
                <div class="vtp-fh-w50" style="float: left; min-width: 550px;">
                    <div class="vtp-fh-w100">
                        <textarea ui-tinymce="tinymceOptions" ng-model="to_do_item.text" name="todoText" id="toDoArea"></textarea>
                    </div>
                    <div class="vtp-fh-w100" style="margin-top: 20px;">
                        <button ng-click="newItem()" ng-show="!isDeleting" class="ui-corner-all vtp-fh-w20" style="background-color: #ffffff; color: #2779aa; border: 1px solid #aed0ea; padding-bottom: 5px; padding-top: 5px">{{ 'label.new'|trans }}</button>
                        <button ng-click="isDeleting = true" ng-disabled="isDeleting" class="ui-corner-all vtp-fh-w20 vtp-button-light">{{'label.delete'|trans}}</button>
                        <button ng-click="delete()" ng-show="isDeleting" class="ui-corner-all vtp-fh-w20 vtp-button-light">{{'label.yes'|trans}}</button>
                        <button ng-click="isDeleting = false" ng-show="isDeleting" class="ui-corner-all vtp-fh-w20 vtp-button-light">{{'label.cancel'|trans}}</button>
                        <button id="vtp-userhome-help" help-area="userhome" class="vtp-help-area-button ui-state-default ui-button ui-widget ui-corner-all ui-button-icon-only">
                            <span class="ui-button-icon-primary ui-icon ui-icon-help"></span><span class="ui-button-text"></span>
                        </button>
                        <button ng-click="save()" ng-show="!isDeleting" ng-class="{'ui-corner-all vtp-fh-w30': toDoForm.$pristine, 'ui-corner-all vtp-fh-w30 ui-state-need-to-save': toDoForm.$dirty}" style="background-color: #ffffff; color: #2779aa; border: 1px solid #aed0ea; float: right; padding-bottom: 5px; padding-top: 5px; height: 32px">{{'label.save'|trans}}</button>
                    </div>
                </div>
                <div class="vtp-fh-w40" style="padding-left: 60px">
                    <div class="vtp-fh-w100">
                        <div class="vtp-fh-top">
                            <input type="text" id="todo-title" name="todoTitle" class="vtp-fh-w90" style="font-size: 20px; color: #2779aa" ng-model="to_do_item.title">
                        </div>
                        <div style="color: #2779aa">
                            {{'label.created'|trans}}: <span ng-bind="to_do_item.created_at"></span> / {{'label.changed'|trans}}: <span ng-bind="to_do_item.updated_at"></span>
                        </div>
                    </div>
                    <div class="vtp-fh-w90" id="noscroll-container" ng-scrollbars ng-scrollbars-config="config" ng-style="{'height':noscrollContainer.height}">
                        <div class="vtp-fh-w100 vtp-menu " id="noscroll-element" style="padding: 0px">
                            <ul class="vtp-fh-w100" id="vtp-todo-list" as-sortable="sortableOptions" ng-model="to_do_items">
                                {% verbatim %}
                                <li class="vtp-fh-w100" as-sortable-item ng-repeat="item in to_do_items" style="margin-top: 3px; margin-bottom: 3px;">
                                    <button as-sortable-item-handle ng-click="edit(item.id)" ng-class="{'ui-state-default ui-state-active ui-corner-all vtp-fh-w100': to_do_item.id==item.id, 'ui-state-default ui-corner-all vtp-fh-w100': to_do_item.id!=item.id}" style="height: 27px; padding-bottom: 4px; padding-top: 4px;  text-align: left; padding-left: 55px; padding-right: 55px">{{ item.title }}</button>
                                </li>
                                {% endverbatim %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
  </form>
</div>
