<div id="lexicon-main" class="ui-corner-all">
    <div id="vtp-lexicondata-box">
        {{ lexicon.getDescription|raw}}
        <hr/>
        <div id="lexicon-rights">
            Dieser Artikel basiert auf dem Artikel <a rel="nofollow" href="{{ lexicon.wikifullurl }}" target="_blank">{{ lexicon.name }}</a> aus der freien Enzyklop채die
            <a rel="nofollow" href="http://de.wikipedia.org/wiki/Wikipedia:Hauptseite" target="_blank">Wikipedia</a> und steht unter der Doppellizenz
            <a rel="nofollow" href="http://www.hier-ihre-webseite-eintragen.de/lokale-fdl.txt" target="_blank">GNU-Lizenz f체r freie Dokumentation</a> und
            <a rel="nofollow" href="http://creativecommons.org/licenses/by-sa/3.0/de/" target="_blank">Creative Commons CC-BY-SA 3.0 Unported</a> (<a rel="nofollow" href="http://creativecommons.org/licenses/by-sa/3.0/de/legalcode" target="_blank">Kurzfassung (de)</a>). In der Wikipedia ist eine
            <a rel="nofollow" href="{{ lexicon.wikifullurl }}?action=history" target="_blank">Liste der Autoren</a> verf체gbar.
        </div>
        {% if lexicon.wikiredirects is not empty %}
        <div>
            <p>Folgende Begriffe wurden in VitooP verkn체pft und werden in Wikipedia auf diesen Lexikonartikel weitergeleitet:</p>
            <ul>
                {% for wikiredirect in lexicon.wikiredirects %}
                    <li>{{ wikiredirect.wikititle }}</li>
                {% endfor %}
            </ul>
        </div>
            {% endif %}
    </div>
    <div id="lexicon-tags">
        {{ lexicons|raw }}
    </div>
</div>
<script type="text/javascript">
    var getResId = function() {

        return {{ lexicon.getId }};
    };
</script>
<script type="text/javascript" src="{{ asset('js/lexicon-home.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    init();
});
</script>