<div id="vtp-search-bytags-taglistbox"
     class="ui-corner-all"{% if ((taglist is not defined or taglist is empty) and (taglist_i is not defined or taglist_i is empty) and (taglist_h is not defined or taglist_h is empty)) %}
     style="display: none;"{% endif %}>
    {% if taglist_h is defined and taglist_h is not empty %}
        {% for tag in taglist_h %}{# Decoration of tags is also in resource_search.bc !!!#}
            <span class="vtp-search-bytags-tag ui-corner-all vtp-search-bytags-tag-bulb">
                <span class="vtp-icon-tag ui-icon ui-icon-tag" onclick="vitoopApp.extendTag(event);"></span>
                {{ tag }}
                <span title="{{ 'label.icon.light'|trans }}" class="ui-icon ui-icon-lightbulb tag-icons-to-hide vtp-icon-bulb" style="display: none" onclick="vitoopApp.highlightTag(event);"></span>
                <span title="{{ 'label.icon.plate'|trans }}" class="ui-icon ui-icon-cancel tag-icons-to-hide vtp-icon-cancel" style="display: none" onclick="vitoopApp.ignoreTag(event);"></span>
                <span title="{{ 'label.icon.cross'|trans }}" class="vtp-icon-close vtp-uiaction-search-bytags-removetag ui-icon ui-icon-close"></span>
            </span>
        {% endfor %}
    {% endif %}
    {% if taglist is defined and taglist is not empty %}
        {% for tag in taglist %}{# Decoration of tags is also in resource_search.bc !!!#}
            <span class="vtp-search-bytags-tag ui-corner-all">
                <span class="vtp-icon-tag ui-icon ui-icon-tag" onclick="vitoopApp.extendTag(event);"></span>
                {{ tag }}
                <span title="{{ 'label.icon.light'|trans }}" class="ui-icon ui-icon-lightbulb tag-icons-to-hide vtp-icon-bulb" style="display: none" onclick="vitoopApp.highlightTag(event);"></span>
                <span title="{{ 'label.icon.plate'|trans }}" class="ui-icon ui-icon-cancel tag-icons-to-hide vtp-icon-cancel" style="display: none" onclick="vitoopApp.ignoreTag(event);"></span>
                <span title="{{ 'label.icon.cross'|trans }}" class="vtp-icon-close vtp-uiaction-search-bytags-removetag ui-icon ui-icon-close"></span>
            </span>
        {% endfor %}
    {% endif %}
    {% if taglist_i is defined and taglist_i is not empty %}
        {% for tag in taglist_i %}{# Decoration of tags is also in resource_search.bc !!!#}
            <span class="vtp-search-bytags-tag ui-corner-all vtp-search-bytags-tag-ignore">
                <span class="vtp-icon-tag ui-icon ui-icon-tag" onclick="vitoopApp.extendTag(event);"></span>
                {{ tag }}
                <span title="{{ 'label.icon.light'|trans }}" class="ui-icon ui-icon-lightbulb tag-icons-to-hide vtp-icon-bulb" style="display: none" onclick="vitoopApp.highlightTag(event);"></span>
                <span title="{{ 'label.icon.plate'|trans }}" class="ui-icon ui-icon-cancel tag-icons-to-hide vtp-icon-cancel" style="display: none" onclick="vitoopApp.ignoreTag(event);"></span>
                <span  title="{{ 'label.icon.cross'|trans }}" class="vtp-icon-close vtp-uiaction-search-bytags-removetag ui-icon ui-icon-close"></span>
            </span>
        {% endfor %}
    {% endif %}
    <button id="vtp-icon-clear-taglistbox" class="vtp-button vtp-uiaction-search-bytags-clear-taglistbox"></button>
    {#<span class="vtp-icon-clear-taglistbox ui-icon ui-icon-close ui-corner-all vtp-uiaction-search-bytags-clear-taglistbox"></span>#}
</div>