{% for teli in resources %}
    <tr id="teli-{{ teli.id }}" class="vtp-{{ cycle(zebra, loop.index) }} ui-corner-all vtp-uiaction-list-showdetail{% include "VitoopInfomgmtBundle:Resource:table.resource.res.classhelper.listtagger.html.twig" %}">
        <td class="ui-corner-left">
            {% if (editMode is defined) and (editMode) %}
                <input type="text" id="coef-{{ attribute(coefficients, teli.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, teli.getID).rel_id }}" data-original="{{ attribute(coefficients, teli.getID).coefficient }}" value="{{ attribute(coefficients, teli.getID).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85"/>
            {% else %}
                {% if coefficients is defined %}
                    <input type="text" id="coef-{{ attribute(coefficients, teli.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, teli.getID).rel_id }}" value="{{ attribute(coefficients, teli.getID).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85" disabled="disabled"/>
                {% else %}
                    {{ teli.createdat|date("d.m.y") }}
                {% endif %}
            {% endif %}
        </td>
        <td title="{{ teli.name }}">
            <div class="vtp-teasefader-wrapper">
                {{ teli.name }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td title="{{ teli.author }}">
            <div class="vtp-teasefader-wrapper">
                {{ teli.author }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>
            <div class="vtp-rating-image-small" title="{{ teli.avgmark|avgmarkhint }}"
                 style="background-image: url('{{ asset('/img/rating/'~avgimg(teli.avgmark)) }}');">
                <span>&nbsp;</span>
            </div>
        </td>
        <td>{{ teli.res12count }}</td>
        <td>{{ teli.user.username }}</td>
        <td class="ui-corner-right">
            {% if editMode is defined and editMode %}
                <span class="vtp-projectdata-unlink ui-icon ui-icon-close ui-corner-all" onclick="unlinkRes({{ teli.id }})"></span>
            {% else %}
                <a class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" href="{{ teli.viewlink }}" target="_blank">-></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
