{% for lex in resources %}
    <tr id="lex-{{ lex.id }}" class="ui-corner-all vtp-uiaction-list-showdetail">
        <td class="ui-corner-left">
            {% if (editMode is defined) and (editMode) %}
                <input type="text" id="coef-{{ attribute(coefficients, lex.id).rel_id }}" data-rel_id="{{ attribute(coefficients, lex.id).rel_id }}" data-original="{{ attribute(coefficients, lex.id).coefficient }}" value="{{ attribute(coefficients, lex.id).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85"/>
            {% else %}
                {% if coefficients is defined %}
                    <input type="text" id="coef-{{ attribute(coefficients, lex.id).rel_id }}" data-rel_id="{{ attribute(coefficients, lex.id).rel_id }}" value="{{ attribute(coefficients, lex.id).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85" disabled="disabled"/>
                {% else %}
                    {{ lex.created_at|date("d.m.y") }}
                {% endif %}
            {% endif %}
        </td>
        <td title="{{ lex.name }}">
            <div class="vtp-teasefader-wrapper">
                {{ lex.name }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td title="{{ lex.url }}">
            <div class="vtp-teasefader-wrapper">
                {{ lex.url }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>{{ lex.res12count }}</td>
        <td>{{ lex.username }}</td>
        <td class="ui-corner-right">
            {% if editMode is defined and editMode %}
                <span class="vtp-projectdata-unlink ui-icon ui-icon-close ui-corner-all" onclick="unlinkRes({{ lex.id }})"></span>
            {% else %}
                <a class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" href="{{ path('_home_lexicon', {'lexicon_id': lex.id}) }}" target="_self">-></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
