{% if isCoef is defined and isCoef %}
    {% set dateTitle = 'Koeff.' %}
{% elseif restype == 'pdf' or restype == 'teli'  %}
    {% set dateTitle = 'Erschienen' %}
{% else %}
    {% set dateTitle = 'Erstellt' %}
{% endif %}
{% if isEdit is defined and isEdit %}
    {% set linkTitle = 'unlink' %}
    {% set linkWidth = '6%' %}
    {% set colsBook = 9 %}
{% else %}
    {% set linkWidth = '7%' %}
    {% set linkTitle = 'link' %}
    {% set colsBook = 8 %}
{% endif %}
<div id="vtp-res-list" class="vtp-uiaction-list-listener">
    <fieldset class="ui-corner-all margin-top-3 empty-datatables" style="display: none">
        <div style="font-size: 42px; color: #2779aa">
            <p style="padding-left: 30px">
                .. hier gibt es leider keine Treffer  :-(
            </p>
            <p style="font-size: 32px; padding-right: 40px; text-align: right">
                .. aber wenn Du willst, kannst Du welche eintragen   :-)
            </p>
        </div>
    </fieldset>
        <table id="list-{{ restype }}" class="table-datatables" data-restype="{{ restype }}">
            <thead>
            <tr id="{{ restype }}-table" class="vtp-res-dialog-onclick">
            {% if restype == 'pdf' %}
                <th style="width:96px;"><span class="table-head">{{ dateTitle }}</span></th>
                <th style="width:20px"></th>
                <th><span class="table-head">Titel</span></th>
                <th style="width:15%;"><span class="table-head">Autor</span></th>
                <th style="width:63px;"><span class="table-head">Seiten</span></th>
                <th style="width:96px;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
                <th style="width:42px;" data-b-searchable="false"><span class="table-head">RR</span></th>
                <th style="width:12%;"><span class="table-head">von</span></th>
                {% if is_granted('ROLE_ADMIN') %}
                    {% set colspan=10 %}
                    <th style="width:8%;" data-b-searchable="false"><span class="table-head">Stored</span></th>
                {% else %}
                    {% set colspan=9 %}
                {% endif %}
                <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
            {% endif %}
        {% if restype == 'book' %}
            {% set colspan = colsBook %}
            <th style="width:96px;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:20px"></th>
            <th><span class="table-head">Titel</span></th>
            <th style="width:21%;"><span class="table-head">Autor</span></th>
            <th style="width:63px;"><span class="table-head">Seiten</span></th>
            <th style="width:96px;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:42px;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            {% if isEdit is defined and isEdit %}
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            {% endif %}
        </tr>
        {% endif %}
            {% if restype == 'teli' %}
            {% set colspan=7 %}
            <th style="width:96px;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:20px"></th>
            <th style="width:34%;"><span class="table-head">Bezeichnung</span></th>
            <th style="width:21%;"><span class="table-head">Autor</span></th>
            <th style="width:96px;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:42px;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            {% if is_granted('ROLE_ADMIN') %}
                {% set colspan=8 %}
                <th style="width:8%;" data-b-searchable="false"><span class="table-head">Stored</span></th>
            {% endif %}
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'link' %}
            {% set colspan=8 %}
            <th style="width:96px;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:20px"></th>
            <th><span class="table-head">Bezeichnung</span></th>
            <th style="width:22%;"><span class="table-head">URL</span></th>
            <th style="width:50px;" data-b-searchable="false"><span class="table-head">HP</span></th>
            <th style="width:96px;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:42px;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;" data-b-searchable="false"><span class="table-head">von</span></th>
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'adr' %}
            {% set colspan=8 %}
            <th style="width:96px;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:20px"></th>
            <th><span class="table-head">Institution</span></th>
            <th style="width:5%;"><span class="table-head">PLZ</span></th>
            <th style="width:15%;"><span class="table-head">Ort</span></th>
            <th style="width:96px;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:42px;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'lex' %}
            {% set colspan=6 %}
            <th style="width:96px;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:20px"></th>
            <th><span class="table-head">Lexikonbegriff</span></th>
            <th style="width:33%;" data-b-searchable="false"><span class="table-head">Wiki-URL</span></th>
            <th style="width:42px;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'prj' %}
            {% set colspan=6 %}
            <th style="width:96px;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:20px"></th>
            <th><span class="table-head">Projektname</span></th>
            <th style="width:14%;"><span class="table-head">Projektmeister</span></th>
            <th style="width:96px;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:42px;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:{{ linkWidth }};" data-b-searchable="false" data-b-sortable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.dataTable.moment('DD.MM.YY');
        var dataStorage = new DataStorage();
        var linkStorage = new LinkStorage();
        var domPrefix = (!searchToggler.getState())?('<"'):('<"ui-helper-hidden ');
        var resType = '{{ restype }}';
        var isAdmin = {% if is_granted('ROLE_ADMIN') %}1{% else %}0{% endif %};
        var isEdit = {% if isEdit is defined and isEdit %}1{% else %}0{% endif %};
        var isCoef = {% if  isCoef is defined and isCoef %}1{% else %}0{% endif %};
        var dateRange = new DateRangeFilter();
        var isBlueFilter = new IsBlueFilter();
        domPrefix += dtDomObject();
        searchToggler.checkButtonState();
        checkOpenButtonState(resType);
        var datatable = $('table#list-{{ restype }}').DataTable({
            autoWidth: false,
            stateSave: false,
            lengthMenu: [ 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 50, 100 ],
            pageLength: getPageLength(),
            language: dtLanguageObject(),
            serverSide: true,
            ajax: {
                url: "{{ ajaxUrl |raw }}",
                data: function (d) {
                    d.isUserHook = isBlueFilter.getIsBlueValue();
                    d.resourceId = vitoop.resourceId;
                    if (resType == 'pdf' || resType == 'teli') {
                        d.dateFrom = dateRange.getDateFilterFrom();
                        d.dateTo = dateRange.getDateFilterTo();
                    }
                }
            },
            search: {
                search: getCurrentSearch()
            },
            order: getDefaultOrder(resType, isAdmin, isEdit, isCoef),
            dom: domPrefix,
            columns: getColumns(resType, isAdmin, isEdit, isCoef),
            pagingType: "full_numbers",
            rowCallback: dtRowCallback,
            {% if (isCoef is defined and isCoef) %}
            drawCallback: dtDrawCallbackCoef,
            ordering: false,
            {% else %}
            drawCallback: dtDrawCallback,
            {% endif %}
        });
        $("div.top-toolbar").append('<div id="search_blue_box"><input id="search_blue" type="checkbox" value="1" name="search_blue"/> blau</div>');
        $("#search_blue").change(function() {
            isBlueFilter.setFilterValue(this.checked?1:0);
            searchToggler.checkButtonState();
            refreshTable();
        });

        if (resType == 'pdf' || resType == 'teli') {
            $("div.top-toolbar").append(''+
                '<div id="search_date_range">' +
                '<input id="search_date_from" class="range-filter" type="text" value="" name="search_date_from" placeholder="Datum von"/>' +
                '<input id="search_date_to" class="range-filter" type="text" value="" name="search_date_to" placeholder="Datum bis"/>' +
                '<button class="vtp-button ui-state-default ui-button ui-widget ui-corner-all ui-button-icon-only" id="vtp_search_date"><span class="ui-icon ui-icon-search"></span><span class="ui-button-text"></span></button>'+
                '</div>'
            );
            $('#vtp_search_date').off().on('click', function () {
                dateRange.updateRangeFromDOM();
                refreshTable();
            });
            $('.range-filter').off().on('change', function () {
                dateRange.updateRangeFromDOM();
            });

            dateRange.updateDOMFromRange();
        }

        datatable
            .on('init.dt', function () {
                if (isBlueFilter.isBlue()) {
                    $("#search_blue").prop('checked', true);
                } else {
                    $("#search_blue").removeProp('checked', false);
                }
                datatable.search(getCurrentSearch());
                datatable.page.len(getPageLength());
                searchToggler.checkButtonState();
            })
            .on('xhr.dt', dtAjaxCallback)
            .on('search.dt', function (e) {
                localStorage.setItem('dt-search', datatable.search());
                searchToggler.checkButtonState();
            });
            {%if resourceId is defined %}
            datatable.on('draw.dt', function () {
                $('#{{ restype }}-{{ resourceId }} > td:first').trigger('click');
            });
            {%endif%}
            

        $('div.paging_full_numbers > span').removeClass();
        
        $('.dataTables_length select').selectmenu({
            appendTo: ".dataTables_length",
            change: function( event, ui ) {
                localStorage.setItem('dt-page-length', ui.item.value);
                datatable.page.len(ui.item.value);
                refreshTable();
            }
        });
        $('.dataTables_filter input').after($('<button id="vtp-search-clear" class="vtp-button"></button>'));
        $('#vtp-search-clear').button({
            icons: {
                primary: "ui-icon-close"
            },
            text: false
        });
        $('#vtp-search-clear').on('click', function() {
            $('.dataTables_filter input').val('');
            $("#search_blue").removeProp('checked');
            localStorage.setItem('dt-search', '');
            isBlueFilter.clear();
            searchToggler.checkButtonState();
            dateRange.clearWithDOM();
            datatable.search('').draw();
        });

        function getPageLength() {
            return dataStorage.getAlphaNumValue('dt-page-length', 7);
        }
        
        function getCurrentSearch() {
            return dataStorage.getAlphaNumValue('dt-search', '');
        }

        function refreshTable() {
            var orderArray = getDefaultOrder(resType, isAdmin, isEdit, isCoef);
            if (orderArray.length > 0) {
                datatable
                    .search(getCurrentSearch())
                    .order(orderArray)
                    .draw();

                return;
            }

            datatable
                .search(getCurrentSearch())
                .draw();
        }

        var resourceInfo = {};
        {% if resourceInfo is defined %}
            {% for resType, count in resourceInfo %}
                resourceInfo.{{resType}} = {{count}};
            {% endfor %}
        {% endif %}
            
        var scope = angular.element($("#resourceInfo")).scope();
        scope.$apply(function(){
            scope.nav.resourceInfo = resourceInfo;
        });

        // Handle click on checkbox
        $('table#list-{{ restype }}').on('click', 'input[type="checkbox"]', function(e) {
            var resType = '{{ restype }}';
            var resourceChecked = dataStorage.getObject('{{ restype }}-checked');
            var $row = $(this).closest('tr');
            // Get row data
            var data = datatable.row($row).data();
            data.resType = resType;
            var storageKey = data.id + '';
            if(this.checked) {
                resourceChecked[storageKey] = data;
            } else {
                delete resourceChecked[storageKey];
            }
            dataStorage.setObject('{{ restype }}-checked', resourceChecked);
            checkOpenButtonState('{{ restype }}');

            e.stopPropagation();
        });
        
        $('#button-checking-links').off().on('click', function (e) {
            var resources = linkStorage.getAllResorces();
            for (var i = 0; i < resources.length; i++) {
                for (var property in resources[i]) {
                    if (resources[i].hasOwnProperty(property) && 'url' in resources[i][property]) {
                        if ('pdf' === resources[i][property]['resType']) {
                            openAsResourceView(resources[i][property].id);
                        } else {
                            window.open(resources[i][property].url);
                        }
                    }
                }
            }
            e.stopPropagation();
            return false;
        });
        $('#button-checking-links-remove').off().on('click', function (e) {
            linkStorage.clearAllResources();
            checkOpenButtonState();
            $('.open-checkbox-link').prop('checked', false);
            e.stopPropagation();
            return false;
        });
        $('#button-checking-links-send').off().on('click', function (e) {
            $('#vtp-res-dialog-links').dialog({
                autoOpen: false,
                width: 720,
                modal: true,
                position: { my: 'center top', at: 'center top', of: '#vtp-nav' },
            });
            $('#vtp-res-dialog-links').dialog('open');

            var linkWidget = new SendLinkWidget();
            linkWidget.getFormFromServer('{{ path('vitoop_infomgmt_userlink_userlinks') }}');

            e.stopPropagation();
            return false;
        });
    });
</script>