{% if isCoef is defined and isCoef %}
    {% set dateTitle = 'Koeff.' %}
{% else %}
    {% set dateTitle = 'Erstellt' %}
{% endif %}
{% if isEdit is defined and isEdit %}
    {% set linkTitle = 'unlink' %}
    {% set linkWidth = '6%' %}
    {% set colsBook = 9 %}
{% else %}
    {% set linkWidth = '7%' %}
    {% set linkTitle = 'link' %}
    {% set colsBook = 8 %}
{% endif %}
<div id="vtp-res-list" class="vtp-uiaction-list-listener">
    <fieldset class="ui-corner-all margin-top-3 empty-datatables" style="display: none">
        <div style="font-size: 42px; color: #2779aa">
            <p style="padding-left: 30px">
                .. hier gibt es leider keine Treffer  :-(
            </p>
            <p style="font-size: 32px; padding-right: 40px; text-align: right">
                .. aber wenn Du willst, kannst Du welche eintragen   :-)
            </p>
        </div>
    </fieldset>
        <table id="list-{{ restype }}" class="table-datatables" data-restype="{{ restype }}">
            <thead>
            <tr id="{{ restype }}-table" class="vtp-res-dialog-onclick">
            {% if restype == 'pdf' %}
                <th style="width:8%;"><span class="table-head">{{ dateTitle }}</span></th>
                <th style="width:2%"></th>
                <th style="width:28%;"><span class="table-head">Titel</span></th>
                <th style="width:17%;"><span class="table-head">Autor</span></th>
                <th style="width:8%;"><span class="table-head">Seiten</span></th>
                <th style="width:11%;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
                <th style="width:5%;" data-b-searchable="false"><span class="table-head">RR</span></th>
                <th style="width:12%;"><span class="table-head">von</span></th>
                {% if is_granted('ROLE_ADMIN') %}
                    {% set colspan=10 %}
                    <th style="width:8%;" data-b-searchable="false"><span class="table-head">Stored</span></th>
                {% else %}
                    {% set colspan=9 %}
                {% endif %}
                <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
            {% endif %}
        {% if restype == 'book' %}
            {% set colspan = colsBook %}
            <th style="width:8%;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:2%"></th>
            <th style="width:37%;"><span class="table-head">Titel</span></th>
            <th style="width:21%;"><span class="table-head">Autor</span></th>
            <th style="width:7%;"><span class="table-head">Seiten</span></th>
            <th style="width:10%;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:5%;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            {% if isEdit is defined and isEdit %}
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            {% endif %}
        </tr>
        {% endif %}
            {% if restype == 'teli' %}
            {% set colspan=7 %}
            <th style="width:8%;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:2%"></th>
            <th style="width:34%;"><span class="table-head">Bezeichnung</span></th>
            <th style="width:23%;"><span class="table-head">Autor</span></th>
            <th style="width:11%;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:5%;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            {% if is_granted('ROLE_ADMIN') %}
                {% set colspan=8 %}
                <th style="width:8%;" data-b-searchable="false"><span class="table-head">Stored</span></th>
            {% endif %}
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'link' %}
            {% set colspan=8 %}
            <th style="width:8%;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:2%"></th>
            <th style="width:32%;"><span class="table-head">Bezeichnung</span></th>
            <th style="width:22%;"><span class="table-head">URL</span></th>
            <th style="width:5%;" data-b-searchable="false"><span class="table-head">HP</span></th>
            <th style="width:11%;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:5%;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;" data-b-searchable="false"><span class="table-head">von</span></th>
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'adr' %}
            {% set colspan=8 %}
            <th style="width:8%;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:2%"></th>
            <th style="width:33%;"><span class="table-head">Institution</span></th>
            <th style="width:5%;"><span class="table-head">PLZ</span></th>
            <th style="width:15%;"><span class="table-head">Ort</span></th>
            <th style="width:11%;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:5%;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'lex' %}
            {% set colspan=6 %}
            <th style="width:8%;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:2%"></th>
            <th style="width:36%;"><span class="table-head">Lexikonbegriff</span></th>
            <th style="width:33%;" data-b-searchable="false"><span class="table-head">Wiki-URL</span></th>
            <th style="width:5%;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:14%;"><span class="table-head">von</span></th>
            <th style="width:{{ linkWidth }};" data-b-sortable="false" data-b-searchable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
        {% if restype == 'prj' %}
            {% set colspan=6 %}
            <th style="width:8%;"><span class="table-head">{{ dateTitle }}</span></th>
            <th style="width:2%"></th>
            <th style="width:58%;"><span class="table-head">Projektname</span></th>
            <th style="width:14%;"><span class="table-head">Projektmeister</span></th>
            <th style="width:10%;" data-b-searchable="false"><span class="table-head">Bewertung</span></th>
            <th style="width:5%;" data-b-searchable="false"><span class="table-head">RR</span></th>
            <th style="width:{{ linkWidth }};" data-b-searchable="false" data-b-sortable="false"><span class="table-head">{{ linkTitle }}</span></th>
            </tr>
        {% endif %}
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.dataTable.moment('DD.MM.YY');
        var dataStorage = new DataStorage();
        var domPrefix = (!searchToggler.getState())?('<"'):('<"ui-helper-hidden ');
        domPrefix += dtDomObject();
        searchToggler.checkButtonState();
        checkOpenButtonState('{{ restype }}');
        var datatable = $('table#list-{{ restype }}').DataTable({
            autoWidth: false,
            stateSave: false,
            lengthMenu: [ 7, 8, 9, 10, 11, 12, 13, 14, 15, 20, 50, 100 ],
            pageLength: getPageLength(),
            language: dtLanguageObject(),
            serverSide: true,
            ajax: {
                url: "{{ ajaxUrl |raw }}",
                data: function (d) {
                    d.isUserHook = getCurrentIsBlue();
                    d.resourceId = vitoop.resourceId;
                }
            },
            search: {
                search: getCurrentSearch()
            },
            order: getDefaultOrder('{{ restype}}', {% if is_granted('ROLE_ADMIN') %}1{% else %}0{% endif %}, {% if isEdit is defined and isEdit %}1{% else %}0{% endif %}, {% if  isCoef is defined and isCoef %}1{% else %}0{% endif %}),
            dom: domPrefix,
            columns: getColumns('{{ restype}}', {% if is_granted('ROLE_ADMIN') %}1{% else %}0{% endif %}, {% if isEdit is defined and isEdit %}1{% else %}0{% endif %}, {% if  isCoef is defined and isCoef %}1{% else %}0{% endif %}),
            pagingType: "full_numbers",
            rowCallback: dtRowCallback,
            {% if (isCoef is defined and isCoef) %}
            drawCallback: dtDrawCallbackCoef,
            ordering: false,
            {% else %}
            drawCallback: dtDrawCallback,
            {% endif %}
        });
        $("div.top-toolbar").append('<div id="search_blue_box"><input id="search_blue" type="checkbox" value="1" name="search_blue"/> blau</div>');
        $("#search_blue").change(function() {
            localStorage.setItem('dt-search-blue', this.checked?1:0);
            searchToggler.checkButtonState();
            datatable.draw();
        });
        
        datatable
            .on('init.dt', function () {
                if (1 == getCurrentIsBlue()) {
                    $("#search_blue").prop('checked', true);
                } else {
                    $("#search_blue").removeProp('checked', false);
                }
                datatable.search(getCurrentSearch());
                datatable.page.len(getPageLength());
                searchToggler.checkButtonState();
            })
            .on('xhr.dt', dtAjaxCallback)
            .on('search.dt', function (e) {
                localStorage.setItem('dt-search', datatable.search());
                searchToggler.checkButtonState();
            });
            {%if resourceId is defined %}
            datatable.on('draw.dt', function () {
                $('#{{ restype }}-{{ resourceId }} > td:first').trigger('click');
            });
            {%endif%}
            

        $('div.paging_full_numbers > span').removeClass();
        
        $('.dataTables_length select').selectmenu({
            appendTo: ".dataTables_length",
            change: function( event, ui ) {
                localStorage.setItem('dt-page-length', ui.item.value);
                datatable.page.len(ui.item.value);
                datatable.draw();
            }
        });
        $('.dataTables_filter input').after($('<button id="vtp-search-clear" class="vtp-button"></button>'));
        $('#vtp-search-clear').button({
            icons: {
                primary: "ui-icon-close"
            },
            text: false
        });
        $('#vtp-search-clear').on('click', function() {
            $('.dataTables_filter input').val('');
            $("#search_blue").removeProp('checked');
            localStorage.setItem('dt-search', '');
            localStorage.setItem('dt-search-blue', 0);
            searchToggler.checkButtonState();
            datatable.search('').draw();
        });

        function getPageLength() {
            return dataStorage.getAlphaNumValue('dt-page-length', 7);
        }
        
        function getCurrentSearch() {
            return dataStorage.getAlphaNumValue('dt-search');
        }

        function getCurrentIsBlue() {
            return dataStorage.getAlphaNumValue('dt-search-blue', 0);
        }

        var resourceInfo = {};
        {% if resourceInfo is defined %}
            {% for resType, count in resourceInfo %}
                resourceInfo.{{resType}} = {{count}};
            {% endfor %}
        {% endif %}
            
        var scope = angular.element($("#resourceInfo")).scope();
        scope.$apply(function(){
            scope.nav.resourceInfo = resourceInfo;
        });

        // Handle click on checkbox
        $('table#list-{{ restype }}').on('click', 'input[type="checkbox"]', function(e) {
            var resourceChecked = dataStorage.getObject('{{ restype }}-checked');
            var $row = $(this).closest('tr');
            // Get row data
            var data = datatable.row($row).data();
            var storageKey = data.id + '';
            if(this.checked) {
                resourceChecked[storageKey] = data;
            } else {
                delete resourceChecked[storageKey];
            }
            dataStorage.setObject('{{ restype }}-checked', resourceChecked);
            checkOpenButtonState('{{ restype }}');

            e.stopPropagation();
        });
        
        $('#button-checking-links').on('click', function () {
            var resourceChecked = dataStorage.getObject('{{ restype }}-checked');
            for (var property in resourceChecked) {
                if ('url' in resourceChecked[property]) {
                    window.open(resourceChecked[property].url);  
                }
            }
        });
    });   
</script>