{% for pdf in resources %}
    <tr id="pdf-{{ pdf.id }}" class="ui-corner-all vtp-uiaction-list-showdetail">
        <td class="ui-corner-left">
            {% if (editMode is defined) and (editMode) %}
                <input type="text" id="coef-{{ attribute(coefficients, pdf.id).rel_id }}" data-rel_id="{{ attribute(coefficients, pdf.id).rel_id }}" data-original="{{ attribute(coefficients, pdf.id).coefficient }}" value="{{ attribute(coefficients, pdf.id).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85"/>
            {% else %}
                {% if coefficients is defined %}
                    <input type="text" id="coef-{{ attribute(coefficients, pdf.id).rel_id }}" data-rel_id="{{ attribute(coefficients, pdf.id).rel_id }}" value="{{ attribute(coefficients, pdf.id).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85" disabled="disabled"/>
                {% else %}
                    {{ pdf.created_at|date("d.m.y") }}
                {% endif %}
            {% endif %}
        </td>
        <td title="{{ pdf.name }}">
            <div class="vtp-teasefader-wrapper">
                {{ pdf.name }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td title="{{ pdf.author }}">
            <div class="vtp-teasefader-wrapper">
                {{ pdf.author }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>{{ pdf.tnop }}</td>
        <td data-order="{{ pdf.avgmark }}">
            <div class="vtp-rating-image-small" title="{{ pdf.avgmark|avgmarkhint }}"
                 style="background-image: url('{{ asset('/img/rating/'~avgimg(pdf.avgmark)) }}');">
                <span>&nbsp;</span>
            </div>
        </td>
        <td>{{ pdf.res12count }}</td>
        <td>{{ pdf.username }}</td>
        {% if is_granted('ROLE_ADMIN') %}
            {% if pdf.isDownloaded == 0 %}
                <td>Soon</td>
            {% elseif pdf.isDownloaded == 1 %}
                <td style="color: green">Yes</td>
            {% else %}
                <td style="color: #FF2222">Err.</td>
            {% endif %}
        {% endif %}
        <td class="ui-corner-right">
            {% if editMode is defined and editMode %}
                <span class="vtp-projectdata-unlink ui-icon ui-icon-close ui-corner-all" onclick="unlinkRes({{ pdf.id }})"></span>
            {% else %}
                <a class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" href="{{ pdf.url }}" target="_blank">-></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}