{# VitoopInfomgmtBundle:Resource:xhr.resource.data.adr.html.twig #}
{{ form_start(fvdata, {'attr': {'id': 'vtp-form-data', 'novalidate': 'novalidate' }}) }}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    {% if infodata is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infodata }}
        </div>
    {% endif %}
    {{ form_errors(fvdata) }}
    <ul id="unique-address-error" style="display: none">
        <li>Diese Adresse existiert schon. (Id# <span id="unique-address-error-id"></span> "<span id="unique-address-error-name"></span>")</li>
    </ul>
    <div class="vtp-fh-top">
        {{ form_label(fvdata.name, null, {'label_attr': {'class': 'vtp-fh-w15' }}) }}
        {% if isNew %}
            {{ form_widget(fvdata.name, {'attr': {'class': 'vtp-fh-w85', 'onblur': 'checkUniqueAddress(event);' }}) }}
        {%else%}
            {{ form_widget(fvdata.name, {'attr': {'class': 'vtp-fh-w75','onblur': 'checkUniqueAddress(event);', 'style': 'width: 77.7%' }}) }}
        <div class="vtp-fh-right vtp-fh-w0"><a href="https://nominatim.openstreetmap.org/search.php?polygon=1&q={{ res.street }}, {{ res.zip }}, {{ res.city }}, {{ res.country.code }}" target="_blank" class="vtp-uiaction-open-url vtp-button">Adresse</a></div>
        {%endif%}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.name) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.name2, null, {'label_attr': {'class': 'vtp-fh-w15' }}) }}
        {{ form_widget(fvdata.name2, {'attr': {'class': 'vtp-fh-w85' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.name2) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.street, null, {'label_attr': {'class': 'vtp-fh-w15' }}) }}
        {{ form_widget(fvdata.street, {'attr': {'class': 'vtp-fh-w85' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.street) }}</div>
    </div>
    <div class="vtp-fh-middle">
        <div class="vtp-fh-w15">{{ form_label(fvdata.zip) }}/{{ form_label(fvdata.city) }}</div>
        {{ form_widget(fvdata.zip, {'attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.city, {'attr': {'class': 'vtp-fh-w40' }}) }}
        <div class="vtp-fh-w05"></div>
        {{ form_label(fvdata.country, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.country, {'attr': {'class': 'vtp-fh-w0', 'style': 'width: 130px' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.zip) }}</div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.city) }}</div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.country) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.contact1, null, {'label_attr': {'class': 'vtp-fh-w15' }}) }}
        {{ form_widget(fvdata.contact1, {'attr': {'class': 'vtp-fh-w35' }}) }}
        <div class="vtp-fh-w05"></div>
        {{ form_label(fvdata.contact3, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.contact3, {'attr': {'class': 'vtp-fh-w35' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.contact1) }}</div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.contact1) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.contact4, null, {'label_attr': {'class': 'vtp-fh-w15' }}) }}
        {% if isNew %}
            {{ form_widget(fvdata.contact4, {'attr': {'class': 'vtp-fh-w85' }}) }}
        {% else %}
            {{ form_widget(fvdata.contact4, {'attr': {'class': 'vtp-fh-w75', 'style': 'width: 77.7%' }}) }}
            <div class="vtp-fh-right vtp-fh-w0"><a href="mailto:{{ res.contact4 }}" target="_blank" class="vtp-uiaction-open-mail vtp-button">eMail schreiben</a></div>
        {% endif %}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.contact3) }}</div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.contact4) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.contact5, null, {'label_attr': {'class': 'vtp-fh-w15' }}) }}
        {% if isNew %}
            {{ form_widget(fvdata.contact5, {'attr': {'class': 'vtp-fh-w85',  }}) }}
        {%else%}
            {{ form_widget(fvdata.contact5, {'attr': {'class': 'vtp-fh-w75', 'style': 'width: 77.7%' }}) }}
        <div class="vtp-fh-right vtp-fh-w0"><a href="{{ res.contact5 }}" target="_blank" class="vtp-uiaction-open-url vtp-button">URL öffnen</a></div>
        {%endif%}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.contact5) }}</div>
    </div>
    {% include 'VitoopInfomgmtBundle:Resource:_userHook.field.html.twig' with {'fvdata': fvdata, 'res': res, 'fieldSuffix': ''} %}
    {% if isShowSave %}
    <div class="vtp-fh-bottom">
        <div class="vtp-fh-w70"></div>
        <div class="vtp-fh-right vtp-fh-w30">
            {{ form_widget(fvdata.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
        </div>
    </div>
    {% else %}
        <div class="vtp-fh-bottom-last"></div>
        {% do fvdata.save.setRendered %}
    {%endif%}
</fieldset>
{{ form_end(fvdata) }}