{# VitoopInfomgmtBundle:Resource:xhr.resource.data.lex.html.twig #}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    <div class="vtp-lexicon-description">
        {{ res.description|raw }}
    </div>
    <hr/>
    <div id="lexicon-rights">
        Dieser Artikel basiert auf dem Artikel <a rel="nofollow" href="{{ res.wikifullurl }}" target="_blank">{{ res.name }}</a> aus der freien Enzyklopädie
        <a rel="nofollow" href="http://de.wikipedia.org/wiki/Wikipedia:Hauptseite" target="_blank">Wikipedia</a> und steht unter der Doppellizenz
        <a rel="nofollow" href="http://www.hier-ihre-webseite-eintragen.de/lokale-fdl.txt" target="_blank">GNU-Lizenz für freie Dokumentation</a> und
        <a rel="nofollow" href="http://creativecommons.org/licenses/by-sa/3.0/de/" target="_blank">Creative Commons CC-BY-SA 3.0 Unported</a> (<a rel="nofollow" href="http://creativecommons.org/licenses/by-sa/3.0/de/legalcode" target="_blank">Kurzfassung (de)</a>). In der Wikipedia ist eine
        <a rel="nofollow" href="{{ res.wikifullurl }}?action=history" target="_blank">Liste der Autoren</a> verfügbar.
    </div>
</fieldset>
