{# VitoopInfomgmtBundle:Resource:xhr.resource.remark.html.twig #}
{% if showform %}
    {{ form_start(fvremark, {'attr': {'id': 'form-remark', 'novalidate': 'novalidate' }}) }}
{% endif %}
{% if inforemark is defined and inforemark is not empty %}
    <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
        <span class="vtp-icon ui-icon ui-icon-info"></span>{{ inforemark }}
    </div>
{% endif %}
<div id="vtp-remark-box">
    {% if showform %}
        <div id="vtp-remark-sheet-edit">
            {{ form_errors(fvremark.text) }}
            {{ form_widget(fvremark.text, {'attr': {'placeholder': 'XXX XXX XXX XXX XXX XXX XXX'} }) }}
        </div>
    {% else %}
        <div id="vtp-remark-sheet-view">
            {{ remark.text|raw }}
        </div>
    {% endif %}
    {% if (needToAccept)%}
        <div style="text-align: right; color: #2779aa; margin: 15px 0; display: none" class="remark-agreement">
            <label for="">Ich stelle den von mir eingegebenen Text zu diesem Datensatz unter die xxx Lizenz.</label>
            <input type="checkbox" id="remark-accepted" style="-webkit-appearance: checkbox">
        </div>
    {% endif %}
    <div id="vtp-remark-buttons">
        {% if (remarks is not empty) %}
            <div id="vtp-remark-owner">
                <span>Bearbeiter:</span>
                {% for rem in remarks %}
                    <span class="remarks-button" {% if is_granted('ROLE_ADMIN') %} title="{{ rem.getCreatedAt|date("m-d-Y") }}, {{ rem.getIp }}" data-text="{{ rem.text }}" {% endif %}>
                        {{ rem.user.username }}{% if (not loop.last) %}, {% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form_label(fvremark.locked, null, {'label_attr': {'class': 'vtp-fh-h24 vtp-button' }}) }}{{ form_widget(fvremark.locked) }}
        {{ form_widget(fvremark.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
    </div>

</div>
{% if showform %}
    {{ form_end(fvremark) }}
{% endif %}
