{# VitoopInfomgmtBundle:Resource:xhr.resource.flags.html.twig #}
<div id="vtp-res-flag-info">
    {# for flag in flags #}
    <fieldset class="ui-corner-all">
        <legend>{{ flagverbosename }}</legend>
        <div id="vtp-res-flag-info-wrapper">
            <div class="vtp-res-flag-info-sheet">{{ flag.info }}</div>
            <div id="vtp-res-flag-buttons" class="right">
                {{ form_start(fvflaginfo, {'attr': {'id': 'form-flaginfo', 'novalidate': 'novalidate' }}) }}
                {{ form_widget(fvflaginfo.isSkip) }}
                {{ form_label(fvflaginfo.isSkip) }}
                {{ form_widget(fvflaginfo.delete_resource, {'attr': {'class': 'vtp-button' }}) }}
                {{ form_widget(fvflaginfo.delete_flag, {'attr': {'class': 'vtp-button' }}) }}
                {{ form_end(fvflaginfo) }}
            </div>
        </div>
    </fieldset>
    {# endfor #}
</div>