{# VitoopInfomgmtBundle:Resource:xhr.resource.data.link.html.twig #}
{{ form_start(fvdata, {'attr': {'id': 'vtp-form-data', 'novalidate': 'novalidate' }}) }}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    {% if infodata is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infodata }}
        </div>
    {% endif %}
    <ul id="unique-url-error" style="display: none">
        <li>Diese Url existiert schon. (Id# <span id="unique-url-error-id"></span> "<span id="unique-url-error-name"></span>")</li>
    </ul>
    {{ form_errors(fvdata) }}
    <div class="vtp-fh-top">
        {{ form_label(fvdata.name, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.name, {'attr': {'class': 'vtp-fh-w90' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.name) }}</div>
    </div>

    <div class="vtp-fh-middle">
        {{ form_label(fvdata.url, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {% if isNew %}
            {{ form_widget(fvdata.url, {'attr': {'class': 'vtp-fh-w85', 'onblur': 'checkUniqueUrl("link", event);' }}) }}
        {%else%}
            {{ form_widget(fvdata.url, {'attr': {'class': 'vtp-fh-w75', 'onblur': 'checkUniqueUrl("link", event);', 'style': 'width: 78%' }}) }}
        {%endif%}
        <div class="vtp-fh-right vtp-fh-w0">
            {{ form_label(fvdata.is_hp, null, {'label_attr': {'class': 'vtp-fh-w60 vtp-button' }}) }}
            {{ form_widget(fvdata.is_hp, {'attr': {'class': 'vtp-fh-w40' }}) }}
            {% if not isNew %}
            <a href="{{ res.url }}" target="_blank" class="vtp-uiaction-open-url vtp-button">URL öffnen</a>
            {% endif%}
        </div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.is_hp) }}</div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.url) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.lang, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.lang, {'attr': {'class': 'vtp-fh-w20' }}) }}
    </div>
    <div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.lang) }}</div>
    </div>
    {% include 'VitoopInfomgmtBundle:Resource:_userHook.field.html.twig' with {'fvdata': fvdata, 'res': res, 'fieldSuffix': '-book'} %}
    {% if isShowSave %}
    <div class="vtp-fh-bottom">
        <div class="vtp-fh-w70"></div>
        <div class="vtp-fh-right vtp-fh-w30">
            {{ form_widget(fvdata.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
        </div>
    </div>
    {% else %}
        <div class="vtp-fh-bottom-last"></div>
        {% do fvdata.save.setRendered %}
    {%endif%}
</fieldset>
{{ form_end(fvdata) }}