{# VitoopInfomgmtBundle:Resource:xhr.resource.data.conversation.html.twig #}
{{ form_start(fvdata, {'attr': {'id': 'vtp-form-data', 'novalidate': 'novalidate' }}) }}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    {% if infodata is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infodata }}
        </div>
    {% endif %}
    {{ form_errors(fvdata) }}
    <div class="d-flex align-center" style="margin-bottom: 4px">
        {{ form_label(fvdata.name, null, {'label_attr': {'class': 'w-22' }}) }}
        {{ form_widget(fvdata.name, {'attr': {'class': 'w-78' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.name) }}</div>
    </div>
    <div class="d-flex align-center" style="margin-bottom: 4px">
        {{ form_label(fvdata.status, null, {'label_attr': {'class': 'w-22' }}) }}
        <div class="d-flex align-center">
            {% if false == isNew and dto.status is defined %}
                {% set label = 'öffentlich' %}
                {% if 1 == dto.status %}
                    {% set label = 'privat' %}
                {% endif %}

                {{ label }}
            {% endif %}
            {{ form_widget(fvdata.status, {'attr': {'class': 'w-78' }}) }}
        </div>
    </div>
    {% if true == dto.isResourceUser %}
    <div class="d-flex align-center" style="margin-bottom: 4px">
        <label class="w-22"></label>
        <div class="d-flex align-center w-78">
            {{ form_widget(fvdata.isNotify, {'attr': {'class': 'valid-checkbox' }}) }}
            {{ form_label(fvdata.isNotify, null, {'label_attr': {'class': 'w-78' }}) }}
        </div>
    </div>
    {% else %}
        {% do fvdata.isNotify.setRendered %}
    {% endif %}
    <div class="d-flex">
        {{ form_label(fvdata.description, null, {'label_attr': {'class': 'w-22' }}) }}
        {{ form_widget(fvdata.description, {'attr': {'class': 'w-78', 'rows': '10', 'placeholder': 'Bitte schreibe die erste Nachricht (das Feld darf nicht leer sein.)' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.description) }}</div>
    </div>
    {% include 'VitoopInfomgmtBundle:Resource:_userHook.field.html.twig'
        with {'fvdata': fvdata, 'res': res, 'fieldSuffix': '-conversation', 'restype': 'conversation'}
    %}
    {% if isShowSave %}
    <div class="vtp-fh-bottom">
        <div class="w-75"></div>
        <div class="vtp-fh-right w-30 vtp-right">
            {{ form_widget(fvdata.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
        </div>
    </div>
    {% else %}
        <div class="vtp-fh-bottom-last"></div>
        {% do fvdata.save.setRendered %}
    {%endif%}
</fieldset>
{{ form_end(fvdata) }}
