{# VitoopInfomgmtBundle:Resource:xhr.resource.remark.html.twig #}
{% if showform %}
    {{ form_start(fvremark, {'attr': {'id': 'form-remark', 'novalidate': 'novalidate' }}) }}
{% endif %}
{% if inforemark is defined and inforemark is not empty %}
    <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
        <span class="vtp-icon ui-icon ui-icon-info"></span>{{ inforemark }}
    </div>
{% endif %}
<div id="vtp-remark-box" style="display: none">
    {% if showform %}
        <div id="vtp-remark-sheet-edit">
            {{ form_errors(fvremark.text) }}
            {{ form_widget(fvremark.text, {'attr': {'placeholder': 'Hier steht im Moment noch nicht wirklich was drin. Wenn Du Lust hast, schreib einen kurzen Text, der den Inhalt des Datensatzes wiedergibt, sodass andere sich daran orientieren können. Texte Dritter dürfen nicht reinkopiert werden! Alles was Du hier reinschreibst, gibst du für alle frei. Dein Text steht unter der Creative Commons Lizenz BY-SA. Solange niemand den Text abschließt, können alle die gemachten Anmerkungen ändern.'} }) }}
        </div>
    {% else %}
        <fieldset class="ui-corner-all">
        <div id="vtp-remark-sheet-view">
            {{ remark.text|raw }}
        </div>
        </fieldset>
    {% endif %}
    {% if (needToAccept)%}
        <div style="text-align: right; color: #2779aa; margin: 15px 0; display: none" class="remark-agreement">
            <p>
            <input type="checkbox" id="remark-accepted" style="-webkit-appearance: checkbox">
            Ich stelle den von mir eingegebenen Text zu diesem Datensatz unter die <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de" target="_blank">Creative Commons Lizenz (BY-SA)</a>.
            </p>  
        </div>
    {% endif %}
    <div id="vtp-remark-buttons">
        {% if (remarks is not empty) %}
            <div id="vtp-remark-owner">
                <span>Bearbeiter:</span>
                {% for rem in remarks %}
                    <span class="remarks-button" {% if is_granted('ROLE_ADMIN') %} title="{{ rem.getCreatedAt|date("m-d-Y") }}, {{ rem.getIp }}" data-text="{{ rem.text }}" {% endif %}>
                        {{ rem.user.username }}{% if (not loop.last) %}, {% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form_label(fvremark.locked, null, {'label_attr': {'class': 'vtp-fh-h24 vtp-button' }}) }}{{ form_widget(fvremark.locked) }}
        {{ form_widget(fvremark.save, {'attr': {'class': 'vtp-uiinfo-anchor ui-corner-all ui-state-default' }}) }}
    </div>

</div>
{% if showform %}
    {{ form_end(fvremark) }}
{% endif %}
