{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block title %}Credentials{% endblock %}
{% block content %}
    <fieldset class="ui-corner-all margin-top-3">
        <div id="vtp-credentials" class="ui-corner-all" ng-controller="UserController">
            <div class="vtp-fh-w100">
                <h1>
                    {{ user.getUsername }}
                </h1>
                <input type="text" style="display: none" ng-init="user.id={{ user.getID }}" ng-model="user.id">
            </div>
            <div class="vtp-fh-w100">
                <div class="vtp-fh-w25">
                    <p>
                        Passwort ändern
                    </p>
                    <form id="user_password" name="user_password">
                        <div class="vtp-fh-w100">
                            <input type="password" name="pass1" id="pass1" ng-model="pass1"/>
                        </div>
                        <div class="vtp-fh-w100">
                            <input type="password" name="pass2" id="pass2" match="pass1" ng-model="user.password"/>
                        </div>
                        <div  class="vtp-fh-w100" ng-show="user_password.pass2.$error.match">Die Eingaben müssen übereinstimmen.</div>
                    </form>
                </div>
                <div class="vtp-fh-w25">
                    <p>
                        Email-Adresse ändern
                    </p>
                    <form id="user_email" name="user_email">
                        <div class="vtp-fh-w100">
                            <input type="email" name="email1" id="email1" ng-model="email1"/>
                        </div>
                        <div class="vtp-fh-w100">
                            <input type="email" name="email2" id="email2" match="email1" ng-model="user.email"/>
                        </div>
                        <div  class="vtp-fh-w100" ng-show="user_email.email2.$error.match">Die Eingaben müssen übereinstimmen.</div>
                    </form>
                </div>
                <div class="vtp-fh-w25">
                    <form id="user_todo" name="userTodo">
                        <p>
                            Höhe der Textbox in ToDo in Pixeln
                        </p>
                        <div class="vtp-fh-w100">
                            <input type="number" name="todo-height" id="todo-height" ng-model="user.user_config.height_of_todo_list" ng-init="user.user_config.height_of_todo_list = {{ user.getUserConfig.getHeightOfTodoList }}"/>
                        </div>
                    </form>
                </div>
                <div class="vtp-fh-w25">
                    <form id="user_todo1" name="userTodo1">
                        <p>
                            Anzahl der sichtbaren ToDo-Punkte
                        </p>
                        <div class="vtp-fh-w100">
                            <input type="number" name="todo-count" id="todo-count" ng-model="user.user_config.number_of_todo_elements" ng-init="user.user_config.number_of_todo_elements = {{ user.getUserConfig.getNumberOfTodoElements }}"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="vtp-fh-w100" style="margin-top: 25px; margin-bottom: 10px">
                <div class="vtp-fh-w70">
                    <button ng-click="save()" ng-show="!isDeleting" ng-class="{'ui-corner-all vtp-fh-w30 vtp-button-light': user_password.$pristine && user_email.$pristine, 'ui-corner-all vtp-fh-w30 vtp-button-light ui-state-need-to-save': user_password.$dirty || user_email.$dirty}" style="float: left; margin-right: 15px">speichern</button>
                    <span ng-show="isError" id="error-span" class="form-error"><span ng-bind="message"></span></span>
                    <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all" ng-show="isSuccess" style="transition: 0s linear all;"><span class="vtp-icon ui-icon ui-icon-info"></span><span ng-bind="message"></span></div>
                </div>
                <div class="vtp-fh-w25" style="float: right">
                    <p ng-show="isDeleting">
                        Soll das Nutzerkonto: "{{ user.getUsername }}"
                        endgültig gelöscht werden?
                    </p>
                    <button ng-click="isDeleting = true" ng-show="!isDeleting" class="ui-corner-all vtp-button-light" style="margin-top: 10px">Benutzerkonto löschen</button>
                    <button ng-click="delete()" ng-show="isDeleting" class="ui-corner-all vtp-fh-w30 vtp-button-light">Ja</button>
                    <button ng-click="isDeleting = false" ng-show="isDeleting" class="ui-corner-all vtp-fh-w30 vtp-button-light">Nein</button>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}