{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block title %}Registrierung{% endblock %}
{% block content %}
<div id="vtp-login-main-container" class="ui-corner-all"> 
    <div id="vtp-change-pass-container">
    <div id="vtp-login">
        <form action="{{ path('password_new',{'token':token}) }}" method="post" enctype="application/x-www-form-urlencoded">
            {% for flashMessage in app.session.flashbag.get('sucess') %}
                <div class="vtp-uiinfo">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            
            <div class="vtp-fh-top">
                <label for="password" class="vtp-fh-w40">{{ 'label.password'|trans }}:</label>                
                <input class="vtp-fh-w65" type="password" name="password" onchange="form.pwd2.pattern = this.value;">
            </div>
            <div class="vtp-fh-bottom">         
                <label for="pwd2" class="vtp-fh-w40">{{ 'label.repeat.password'|trans }}:</label>   
                <input class="vtp-fh-w65" type="password" name="pwd2">
            </div>
            <div class="vtp-submit-wrapper">
                <input value="{{'label.send'|trans}}" type="submit" class="ui-corner-all ui-state-default" style="margin-right: 10px;">
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}