{# pg_default.html.twig #}

{# pg_path() should only be used within this template #}
 
{% pg_options {
'proximity'          : 2,
'absoluteurl'        : false,
'page'               : 'page',
'maxperpage'         : 'maxperpage',
'dots'               : '...',
'previousmessage'    : 'Previous',
'nextmessage'        : 'Next',
'firstmessage'       : 'First',
'lastmessage'        : 'Last',
'pgprefix'           : 'pg-',
'proximitybox'       : 'pg-proximitybox',
'disabledclass'      : 'pg-disabled',
'innerclass'         : 'pg-inner',
'dotsleftclass'      : 'pg-dotsleft',
'dotsrightclass'     : 'pg-dotsright',
'firstclass'         : 'pg-first',
'previousclass'      : 'pg-previous',
'proximityclass'     : 'pg-proximity',
'currentclass'       : 'pg-current',
'nextclass'          : 'pg-next',
'lastclass'          : 'pg-last',
'totalrowsclass'     : 'pg-totalrows'
} %}

{# FIRST #}
{% if pg_block == 'pg_first' %}
    {% block pg_first %}
        {% spaceless %}
            {% if pg.havetopaginate and (1 != pg.getcurrentpage) %}
                <span class="{{ pgoptions.firstclass }}"><a class="{{ pgoptions.innerclass }}" href="{{ pg_path(1) }}">{{ pgoptions.firstmessage }}</a></span>
            {% else %}
                <span class="{{ pgoptions.firstclass~' '~pgoptions.disabledclass }}"><span class="{{ pgoptions.innerclass }}">{{ pgoptions.firstmessage }}</span></span>
            {% endif %}
        {% endspaceless %}
    {% endblock pg_first %}


    {# PREVIOUS #}
{% elseif pg_block == 'pg_previous' %}
    {% block pg_previous %}
        {% spaceless %}
            {% if pg.haspreviouspage %}
                <span class="{{ pgoptions.previousclass }}"><a class="{{ pgoptions.innerclass }}" href="{{ pg_path(pg.getpreviouspage) }}">{{ pgoptions.previousmessage }}</a></span>
            {% else %}
                <span class="{{ pgoptions.previousclass~' '~pgoptions.disabledclass }}"><span class="{{ pgoptions.innerclass }}">{{ pgoptions.previousmessage }}</span></span>
            {% endif %}
        {% endspaceless %}
    {% endblock pg_previous %}

    {# PROXIMITY #}
{% elseif pg_block == 'pg_proximity' %}
    {% block pg_proximity %}
        {% spaceless %}
            <span class="{{ pgoptions.proximitybox }}">
   {% if pg.havetopaginate %}
       {% if (pg.getcurrentpage - pgoptions.proximity) > 1 %}
           <span class="{{ pgoptions.dotsleftclass }}"><span class="{{ pgoptions.innerclass }}">{{ pgoptions.dots }}</span></span>
       {% endif %}
      {% for i in (pg.getcurrentpage - pgoptions.proximity)..(pg.getcurrentpage - 1) if (i > 0) %}
       <span class="{{ pgoptions.proximityclass }}"><a class="{{ pgoptions.innerclass }}" href="{{ pg_path(i) }}">{{ i }}</a></span>
   {% endfor %}
      <span class="{{ pgoptions.currentclass }}"><span class="{{ pgoptions.innerclass }}">{{ pg.getcurrentpage }}</span></span>
      {% for i in (pg.getcurrentpage + 1)..(pg.getcurrentpage + pgoptions.proximity) if (i < (pg.getnbpages + 1)) %}
       <span class="{{ pgoptions.proximityclass }}"><a class="{{ pgoptions.innerclass }}" href="{{ pg_path(i) }}">{{ i }}</a></span>
   {% endfor %}
      {% if (pg.getcurrentpage + pgoptions.proximity) < pg.getnbpages %}
       <span class="{{ pgoptions.dotsrightclass }}"><span class="{{ pgoptions.innerclass }}">{{ pgoptions.dots }}</span></span>
   {% endif %}
   {% else %}
       <span class="{{ pgoptions.currentclass }}"><span class="{{ pgoptions.innerclass }}">1</span></span>
   {% endif %}
   </span>
        {% endspaceless %}
    {% endblock pg_proximity %}

    {# TODO does this block make sense any more? #}
    {# CURRENT #}
{% elseif pg_block == 'pg_current' %}
    {% block pg_current %}
        {% spaceless %}
            {% if pg.havetopaginate %}
                <span class="{{ pgoptions.currentclass }}"><span class="{{ pgoptions.innerclass }}">{{ pg.getcurrentpage }}</span></span>
            {% else %}
                <span class="{{ pgoptions.currentclass }}"><span class="{{ pgoptions.innerclass }}">1</span></span>
            {% endif %}
        {% endspaceless %}
    {% endblock pg_current %}

    {# NEXT #}
{% elseif pg_block == 'pg_next' %}
    {% block pg_next %}
        {% spaceless %}
            {% if pg.hasnextpage %}
                <span class="{{ pgoptions.nextclass }}"><a class="{{ pgoptions.innerclass }}" href="{{ pg_path(pg.getnextpage) }}">{{ pgoptions.nextmessage }}</a></span>
            {% else %}
                <span class="{{ pgoptions.nextclass~' '~pgoptions.disabledclass }}"><span class="{{ pgoptions.innerclass }}">{{ pgoptions.nextmessage }}</span></span>
            {% endif %}
        {% endspaceless %}
    {% endblock pg_next %}

    {# LAST #}
{% elseif pg_block == 'pg_last' %}
    {% block pg_last %}
        {% spaceless %}
            {% if pg.havetopaginate and (pg.getcurrentpage < pg.getnbpages) %}
                <span class="{{ pgoptions.lastclass }}"><a class="{{ pgoptions.innerclass }}" href="{{ pg_path(pg.getnbpages) }}">{{ pgoptions.lastmessage }}</a></span>
            {% else %}
                <span class="{{ pgoptions.lastclass~' '~pgoptions.disabledclass }}"><span class="{{ pgoptions.innerclass }}">{{ pgoptions.lastmessage }}</span></span>
            {% endif %}
        {% endspaceless %}
    {% endblock pg_last %}

    {# ROWSPERPAGE #}
{% elseif pg_block == 'pg_rowsperpage' %}
    {% block pg_rowsperpage %}
        {% spaceless %}
            <form id="{{ pgoptions.pgprefix~pgoptions.maxperpage }}-form" method="GET" action="{{ pg_path(0, false) }}">
                <label for="{{ pgoptions.pgprefix~pgoptions.maxperpage }}-input">Zeilen pro Seite: </label>
                <input id="{{ pgoptions.pgprefix~pgoptions.maxperpage }}-input" name="{{ pgoptions.maxperpage }}" type="text" value="{{ pg.getmaxperpage }}">
                {#
                <select id="{{ pgoptions.maxperpage }}-submit" name="{{ pgoptions.maxperpage }}" size="1">
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                #}
                {#
                <button id="{{ pgoptions.pgprefix~pgoptions.maxperpage }}-submit" name="{{ pgoptions.maxperpage }}_submit" type="submit" value="->">-></button>
                #}
            </form>
        {% endspaceless %}
    {% endblock pg_rowsperpage %}

    {# TOTALROWS #}
{% elseif pg_block == 'pg_totalrows' %}
    {% block pg_totalrows %}
        {% spaceless %}
            <span class="{{ pgoptions.totalrowsclass }}"><span class="{{ pgoptions.innerclass }}">Insgesamt {{ pg.getnbresults }} Treffer</span></span>
        {% endspaceless %}
    {% endblock pg_totalrows %}

{% elseif pg_block == 'pg_widget' %}
    {% block pg_widget %}
        {% spaceless %}
            {{ block ('pg_first') }}
            {{ block ('pg_previous') }}
            {{ block ('pg_proximity') }}
            {{ block ('pg_next') }}
            {{ block ('pg_last') }}
        {% endspaceless %}
    {% endblock pg_widget %}

{% endif %}