<fieldset class="ui-corner-all">
    <legend>By {{ project.user.username }}</legend>
    <div id="vtp-projectdata-box">
        {% if infoprojectdata is defined and infoprojectdata is not empty %}
            <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
                <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infoprojectdata }}
            </div>
        {% endif %}
            <div id="vtp-projectdata-sheet-view" class="ui-corner-all vtp-fh-w70">{{ project.projectdata.sheet|raw }}</div>
            <div id="vtp-projectdata-sheet-info" class="ui-corner-all vtp-fh-w25">
                <p>
                    Erstellt von: <span>{{ project.user.username }}</span>
                </p>
                <p>
                    Erstellt am: <span>{{ project.getCreatedAt|date('d.m.Y') }}</span>
                </p>
                <br/>
                <p>
                    Verknüpfte Datensätze:
                </p>
                <p>
                    Projekt: <span>{{ projectInfo.prjc }}</span>
                </p>
                <p>
                    Lexicon: <span>{{ projectInfo.lexc }}</span>
                </p>
                <p>
                    Pdf: <span>{{ projectInfo.pdfc }}</span>
                </p>
                <p>
                    Textlink: <span>{{ projectInfo.telic }}</span>
                </p>
                <p>
                    Link: <span>{{ projectInfo.linkc }}</span>
                </p>
                <p>
                    Adresse: <span>{{ projectInfo.adrc }}</span>
                </p>
            </div>
    </div>
</fieldset>

