{% for prj in resources %}
    <tr id="prj-{{ prj.id }}" class="vtp-{{ cycle(zebra, loop.index) }} ui-corner-all vtp-uiaction-list-showdetail{% include "VitoopInfomgmtBundle:Resource:table.resource.res.classhelper.listtagger.html.twig" %}">
        <td class="ui-corner-left">
            {% if (editMode is defined) and (editMode) %}
                <input type="number" id="coef-{{ attribute(coefficients, prj.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, prj.getID).rel_id }}" min="0" data-original="{{ attribute(coefficients, prj.getID).coefficient }}" max="120" step="0.1" value="{{ attribute(coefficients, prj.getID).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85"/>
            {% else %}
                {{ prj.createdat|date("d.m.y") }}
                {% if coefficients is defined %}
                    <input type="hidden" id="coef-{{ attribute(coefficients, prj.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, prj.getID).rel_id }}" value="{{ attribute(coefficients, prj.getID).coefficient }}" class="vtp-uiaction-coefficient"/>
                {% endif %}
            {% endif %}
        </td>
        <td title="{{ prj.name }}">
            <div class="vtp-teasefader-wrapper">
                {{ prj.name }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td title="{{ prj.user.username }}">
            <div class="vtp-teasefader-wrapper">
                {{ prj.user.username }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>
            <div class="vtp-rating-image-small" title="{{ prj.avgmark|avgmarkhint }}"
                 style="background-image: url('{{ asset('/img/rating/'~avgimg(prj.avgmark)) }}');">
                <span>&nbsp;</span>
            </div>
        </td>
        <td>{{ prj.res12count }}</td>
        <td class="ui-corner-right">
            {% if editMode is defined and editMode %}
                <span class="vtp-projectdata-unlink ui-icon ui-icon-close ui-corner-all" onclick="unlinkRes({{ prj.id }})"></span>
            {% else %}
                {% if prj.getProjectData is null or prj.getProjectData.availableForReading(user) %}
                    <a class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" href="{{ path('_home_project', {'project_id': prj.id}) }}" target="_self">-></a>
                {% else %}
                    <span class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" style="background-color: #DDDDDD">-></span>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}