{% for lex in resources %}
    <tr id="lex-{{ lex.id }}" class="vtp-{{ cycle(zebra, loop.index) }} ui-corner-all vtp-uiaction-list-showdetail{% include "VitoopInfomgmtBundle:Resource:table.resource.res.classhelper.listtagger.html.twig" %}">
        <td class="ui-corner-left">
            {% if (editMode is defined) and (editMode) %}
                <input type="number" id="coef-{{ attribute(coefficients, lex.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, lex.getID).rel_id }}" min="0" data-original="{{ attribute(coefficients, lex.getID).coefficient }}" max="120" step="0.1" value="{{ attribute(coefficients, lex.getID).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85"/>
            {% else %}
                {{ lex.createdat|date("d.m.y") }}
                {% if coefficients is defined %}
                    <input type="hidden" id="coef-{{ attribute(coefficients, lex.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, lex.getID).rel_id }}" value="{{ attribute(coefficients, lex.getID).coefficient }}" class="vtp-uiaction-coefficient"/>
                {% endif %}
            {% endif %}
        </td>
        <td title="{{ lex.name }}">
            <div class="vtp-teasefader-wrapper">
                {{ lex.name }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td title="{{ lex.wikifullurl }}">
            <div class="vtp-teasefader-wrapper">
                {{ lex.wikifullurl }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>
            <div class="vtp-rating-image-small" title="{{ lex.avgmark|avgmarkhint }}"
                 style="background-image: url('{{ asset('/img/rating/'~avgimg(lex.avgmark)) }}');">
                <span>&nbsp;</span>
            </div>
        </td>
        <td>{{ lex.res12count }}</td>
        <td>{{ lex.user.username }}</td>
        <td class="ui-corner-right">
            {% if editMode is defined and editMode %}
                <span class="vtp-projectdata-unlink ui-icon ui-icon-close ui-corner-all" onclick="unlinkRes({{ lex.id }})"></span>
            {% else %}
                <a class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" href="{{ path('_home_lexicon', {'lexicon_id': lex.id}) }}" target="_self">-></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
