{% for link in resources %}
    <tr id="link-{{ link.id }}" class="vtp-{{ cycle(zebra, loop.index) }} ui-corner-all vtp-uiaction-list-showdetail{% include "VitoopInfomgmtBundle:Resource:table.resource.res.classhelper.listtagger.html.twig" %}">
            {% if (editMode is defined) and (editMode) %}
                <td class="ui-corner-left">
                    <input type="number" id="coef-{{ attribute(coefficients, link.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, link.getID).rel_id }}" min="0" data-original="{{ attribute(coefficients, link.getID).coefficient }}" max="120" step="0.1" value="{{ attribute(coefficients, link.getID).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85"/>
            {% else %}
                 <td class="ui-corner-left">
                {{ link.createdat|date("d.m.y") }}
            {% endif %}
        </td>
        <td title="{{ link.name }}">
            <div class="vtp-teasefader-wrapper">
                {{ link.name }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td title="{{ link.url }}">
            <div class="vtp-teasefader-wrapper">
                {{ link.url }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>{{ link.ishp ? "ja" : "nein" }}</td>
        <td>
            <div class="vtp-rating-image-small" title="{{ link.avgmark|avgmarkhint }}"
                 style="background-image: url('{{ asset('/img/rating/'~avgimg(link.avgmark)) }}');">
                <span>&nbsp;</span>
            </div>
        </td>
        <td>{{ link.res12count }}</td>
        <td>{{ link.user.username }}</td>
        <td class="ui-corner-right">
            {% if editMode is defined and editMode %}
                <span class="vtp-projectdata-unlink ui-icon ui-icon-close ui-corner-all" onclick="unlinkRes({{ link.id }})"></span>
            {% else %}
                <a class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" href="{{ link.viewlink }}" target="_blank">-></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}