{% for adr in resources %}
    <tr id="adr-{{ adr.id }}" class="vtp-{{ cycle(zebra, loop.index) }} ui-corner-all vtp-uiaction-list-showdetail{% include "VitoopInfomgmtBundle:Resource:table.resource.res.classhelper.listtagger.html.twig" %}">
        <td class="ui-corner-left">
            {% if (editMode is defined) and (editMode) %}
                <input type="number" id="coef-{{ attribute(coefficients, adr.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, adr.getID).rel_id }}" min="0" data-original="{{ attribute(coefficients, adr.getID).coefficient }}" max="120" step="0.1" value="{{ attribute(coefficients, adr.getID).coefficient }}" class="vtp-uiaction-coefficient vtp-fh-w85"/>
            {% else %}
                {{ adr.createdat|date("d.m.y") }}
                {% if coefficients is defined %}
                    <input type="hidden" id="coef-{{ attribute(coefficients, adr.getID).rel_id }}" data-rel_id="{{ attribute(coefficients, adr.getID).rel_id }}" value="{{ attribute(coefficients, adr.getID).coefficient }}" class="vtp-uiaction-coefficient"/>
                {% endif %}
            {% endif %}
        </td>
        <td title="{{ adr.name }}">
            <div class="vtp-teasefader-wrapper">
                {{ adr.name }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>{{ adr.zip }}</td>
        <td title="{{ adr.city }}">
            <div class="vtp-teasefader-wrapper">
                {{ adr.city }}
                <div class="vtp-teasefader"></div>
            </div>
        </td>
        <td>
            <div class="vtp-rating-image-small" title="{{ adr.avgmark|avgmarkhint }}"
                 style="background-image: url('{{ asset('/img/rating/'~avgimg(adr.avgmark)) }}');">
                <span>&nbsp;</span>
            </div>
        </td>
        <td>{{ adr.res12count }}</td>
        <td>{{ adr.user.username }}</td>
        <td class="ui-corner-right">
            {% if editMode is defined and editMode %}
                <span class="vtp-projectdata-unlink ui-icon ui-icon-close ui-corner-all" onclick="unlinkRes({{ adr.id }})"></span>
            {% else %}
                <a class="vtp-extlink vtp-uiaction-open-extlink ui-icon ui-icon-extlink" href="{{ adr.viewlink }}" target="_blank">-></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}