<div class="created-info{{ fieldSuffix }}">
    <div class="vtp-fh-w10"></div>
    <div class="vtp-fh-w100 vtp-right">
        <div class="vtp-fh-infosave-box vtp-fh-infosave-box-left blau-gradient vtp-right" style="width: 90px">
            <label class="custom-checkbox__wrapper light-blue"
                   style="margin-left: 3px;"
                   title="{{ 'label.set_remove_bookmarks'|trans }}"
                   for="{{ restype }}_isUserHook">
                {{ form_widget(fvdata.isUserHook) }}
                <span class="custom-checkbox">
                    <img class="custom-checkbox__check"
                         src="/img/check.png" />
                </span>
            </label>
            <select class="custom-dropdown">
                <option value="red-gradient">red</option>
                <option value="lime-gradient">lime</option>
                <option value="cyan-gradient">cyan</option>
                <option value="yellow-gradient">yellow</option>
                <option value="blau-gradient">blue</option>
            </select>
            <span class="blau-text"></span>
        </div>
        <div class="vtp-fh-infosave-box vtp-fh-infosave-box-right vtp-even-background">
             <span class="blau-text">&nbsp;&nbsp;Eingetragen am: {{ res.createdat|date('d.m.Y') }}{% if res.getUser is not null %}&nbsp;&nbsp;|&nbsp;&nbsp;von: {{ res.getUser.getUsername }}{% endif %}&nbsp;&nbsp;|&nbsp;&nbsp;ID: {{ res.getId }}</span>
             <div class="clipboard">
                 <input type="hidden" value={{ res.getId }} id="dataId">
                 <button type="button" title="Kopieren" onclick="copyId(event)">
                    <span class="ui-button-icon-primary ui-icon ui-icon-copy"></span>
                 </button>
                 <div class="tooltiptext"></div>
             </div>
            {{ form_widget(fvdata.isUserRead) }}
            <input type="button"
                   title="{{ 'label.mark_as_read'|trans }}"
                   class="vtp-button vtp-button-read ui-state-default"
                   value="gelesen">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        setTimeout(function () {
            let selectedColor = $('.colorDropdown .selected-tag').text().trim() == 'blue' ? 'blau' : $('.colorDropdown .selected-tag').text().trim();
            var id = $('.custom-dropdown').attr('id');
            let button = $('#'+ id+'-button');
            let spanText = $('#'+ id +'-button .ui-selectmenu-text');
            button.css('width', '');
            spanText.text(selectedColor);
            spanText.css('width', '100%');
            removeClassGradient();
            $('.vtp-fh-infosave-box-left ').addClass(selectedColor + '-gradient');

            $(document).on('click', '#'+id+'-menu li.ui-menu-item', function () {
                let newClass = $(this).text() == 'blue' ? 'blau' : $(this).text();
                removeClassGradient();
                $('.vtp-fh-infosave-box-left ').addClass(newClass + '-gradient');
                sessionStorage.setItem("selectedColor", $(this).text());
            });
        }, 1500);


        function removeClassGradient()
        {
            let colorsClass = ['red-gradient', 'lime-gradient', 'cyan-gradient', 'yellow-gradient', 'blau-gradient'];
            for (let i = 0; i < colorsClass.length; i++) {
                if ($('.vtp-fh-infosave-box-left ').hasClass(colorsClass[i])) {
                    $('.vtp-fh-infosave-box-left ').removeClass(colorsClass[i]);
                }
            }
        }
    });

</script>
