{% block css %}
    <style>
        .red-gradient {
            background: #f39090; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #f39090, #deedf7); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #f39090 , #deedf7); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #f39090 , #deedf7); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #f39090 , #deedf7); /* Standard syntax */
            background-repeat: no-repeat;
            background-size: 85px;
        }
        .lime-gradient {
            background: #87ee87; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #87ee87 , #deedf7); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #87ee87 , #deedf7); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #87ee87 , #deedf7); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #87ee87 , #deedf7); /* Standard syntax */
            background-repeat: no-repeat;
            background-size: 85px;
        }
        .cyan-gradient {
            background: #8feeee; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #8feeee , #deedf7); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #8feeee , #deedf7); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #8feeee , #deedf7); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #8feeee , #deedf7); /* Standard syntax */
            background-repeat: no-repeat;
            background-size: 85px;
        }
        .yellow-gradient {
            background: #f5f568; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #f5f568 , #deedf7); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #f5f568 , #deedf7); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #f5f568 , #deedf7); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #f5f568 , #deedf7); /* Standard syntax */
            background-repeat: no-repeat;
            background-size: 85px;
        }


    </style>
{% endblock %}
<div class="created-info{{ fieldSuffix }}">
    <div class="vtp-fh-w10"></div>
    <div class="vtp-fh-w100 vtp-right">
        <div class="vtp-fh-infosave-box vtp-fh-infosave-box-left blau-gradient vtp-right" style="width: 90px">
            <label class="custom-checkbox__wrapper light-blue"
                   style="margin-left: 3px;"
                   title="{{ 'label.set_remove_bookmarks'|trans }}"
                   for="{{ restype }}_isUserHook">
                {{ form_widget(fvdata.isUserHook) }}
                <span class="custom-checkbox">
                    <img class="custom-checkbox__check"
                         src="/img/check.png" />
                </span>
            </label>
            <select class="custom-dropdown">
                <option value="red-gradient">red</option>
                <option value="lime-gradient">lime</option>
                <option value="cyan-gradient">cyan</option>
                <option value="yellow-gradient">yellow</option>
                <option value="blau-gradient">blue</option>
            </select>
            <span class="blau-text"></span>
        </div>
        <div class="vtp-fh-infosave-box vtp-fh-infosave-box-right vtp-even-background">
             <span class="blau-text">&nbsp;&nbsp;Eingetragen am: {{ res.createdat|date('d.m.Y') }}{% if res.getUser is not null %}&nbsp;&nbsp;|&nbsp;&nbsp;von: {{ res.getUser.getUsername }}{% endif %}&nbsp;&nbsp;|&nbsp;&nbsp;ID: {{ res.getId }}</span>
             <div class="clipboard">
                 <input type="hidden" value={{ res.getId }} id="dataId">
                 <button type="button" title="Kopieren" onclick="copyId(event)">
                    <span class="ui-button-icon-primary ui-icon ui-icon-copy"></span>
                 </button>
                 <div class="tooltiptext"></div>
             </div>
            {{ form_widget(fvdata.isUserRead) }}
            <input type="button"
                   title="{{ 'label.mark_as_read'|trans }}"
                   class="vtp-button vtp-button-read ui-state-default"
                   value="gelesen">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            let selectedColor = $('.colorDropdown .selected-tag').text().trim() == 'blue' ? 'blau' : $('.colorDropdown .selected-tag').text().trim();
            $("#ui-id-33-button").css('width', '');
            $('.custom-dropdown').val(selectedColor + '-gradient');
            $('#ui-id-33-button .ui-selectmenu-text').text(selectedColor);

            let colorsClass = ['red-gradient', 'lime-gradient', 'cyan-gradient', 'yellow-gradient', 'blau-gradient'];
            for (let i = 0; i < colorsClass.length; i++) {
                if ($('.vtp-fh-infosave-box-left ').hasClass(colorsClass[i])) {
                    $('.vtp-fh-infosave-box-left ').removeClass(colorsClass[i]);
                }
            }
            $('.vtp-fh-infosave-box-left ').addClass(selectedColor + '-gradient');
        }, 1500);
    });
</script>
