<button id="open-notes-dialog-button"
        class="ui-state-default ui-corner-all vtp-button"
        style="width: 29px; height: 20px">
    <!-- <i class="fa fa-sticky-note" style="font-size: 12px"></i> -->
    <span class="ui-icon ui-icon-document-b"></span>
    <!-- <i class="far fa-file" style="font-size: 12px"></i> -->
</button>
<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-previous vtp-wide-iconbutton"
        title="{{ 'label.previous'|trans }}">
</button>
<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-next vtp-wide-iconbutton"
        title="{{ 'label.next'|trans }}">
</button>
{% if not (res_type == "lex") %}
    <button class="vtp-uistyle-iconbutton vtp-uiaction-detail-new vtp-wide-iconbutton"
            title="{{ 'label.new'|trans }}">
    </button>
{% endif %}
{% if not (res_type == "lex" or res_type == "prj") %}
    <button class="vtp-uistyle-iconbutton vtp-uiaction-detail-delete ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
            title="{{ 'label.delete'|trans }}"
            role="button">
        <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
        <span class="ui-button-text">{{ 'label.delete'|trans }}</span>
    </button>
{% endif %}
<button class="vtp-uistyle-iconbutton vtp-uiaction-detail-blame ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
        title="{{ 'label.blame'|trans }}"
        role="button">
    <span class="ui-button-icon-primary ui-icon ui-icon-alert"></span>
    <span class="ui-button-text">{{ 'label.blame'|trans }}</span>
</button>
