{# VitoopInfomgmtBundle:Resource:xhr.resource.lexicon.html.twig #}
{{ form_start(fvassignlexicon, {'attr': {'id': 'form-assign-lexicon', 'novalidate': 'novalidate' }}) }}
<fieldset class="ui-corner-all">
    <legend>Verknüpfungen mit Lexikonartikel</legend>
    {% if infoassignlexicon is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>
            {{ infoassignlexicon }}
        </div>
    {% endif %}
    {{ form_errors(fvassignlexicon) }}
    <div>
        {# form_label(fvassignlexicon.name, null, {'label_attr': {'class': 'vtp-form-w20' }}) #}
        {{ form_widget(fvassignlexicon.can_add) }}
        {{ form_widget(fvassignlexicon.can_remove) }}
        {{ form_widget(fvassignlexicon.name, {'attr': {'class': 'vtp-fh-w40' }}) }}
        {{ form_widget(fvassignlexicon.save, {'value' : '+'~relsRestAddedCount, 'attr': {'class': 'vtp-uiinfo-anchor vtp-lexicon-submit' }}) }}
        {{ form_widget(fvassignlexicon.remove, {'value' : '-'~relsRestRemovedCount, 'attr': {'class': 'vtp-uiinfo-anchor vtp-lexicon-submit' }}) }}
        {{ form_widget(fvassignlexicon.new_lexicon_save, {'value' : 'Neunen Lexikon-Artikel erstellen?', 'attr': {'class': 'vtp-new-lexicon-save vtp-uiinfo-anchor vtp-lexicon-submit vtp-hide' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvassignlexicon.name) }}</div>
    </div>
    <div id="vtp-lexiconbox" class="vtp-collectionbox ui-corner-all">
        {% for everylexicon in lexicons %}
            <span class="vtp-lexiconbox-item {% if everylexicon.is_own %}vtp-ownlex {% endif %}ui-corner-all">
               <span class="vtp-icon-lex ui-icon ui-icon-document-b"></span>
                {{ everylexicon.name }}
                <span class="vtp-lexiconbox-cntres">({{ everylexicon.cnt_res }})</span>
            </span>
        {% endfor %}
    </div>
</fieldset>
<fieldset class="ui-corner-all mt-10 lexicon_exrta_textarea" style="display:none;">
    <div class="lexicon_header"><span class="text-primary lexicon_span_details">{{ 'label.lexicon_create_encyclopedia'|trans }}</span>
        <span class="f-right lexicon_span_details">
            <button class="vtp-button ui-state-default ui-button ui-widget ui-corner-all ui-button-icon-only w_40" id="lexicon_detail_save_btn">{{ 'label.lexicon_yes'|trans }}</button>
            <button class="vtp-button ui-state-default ui-button ui-widget ui-corner-all ui-button-icon-only w_40" id="lexicon_detail_cancel_btn">{{ 'label.lexicon_no'|trans }}</button>
        </span>
    </div>
    <div class="vtp-fh-top mt-10">
        <div class="vtp-fh-w100 lexicon_detail_box h-100" id="lexicon_name_description"></div>
        <hr/>
        <div id="lexicon_name_description_footer"></div>
    </div>
</fieldset>
{{ form_end(fvassignlexicon) }}
