<html>
<head></head>
<body>
    <p>{{ body }}</p>
    {% for resource in resources%}
        <p style="font-size: .9em;"><strong>{{ resource.getResourceName() }}:</strong> <strong>{{ resource.name }}</strong><br/>
        {% include "email/resourseLinks/"~resource.getResourceType()~".html.twig" %}
        <strong>{{ 'label.remarks'|trans }}:</strong>
            {% set remark = resource.getLastRemark() %}
            {% if remark is not empty %}
                {{ remark.text|raw }}
            {% endif %}
        </p>
    {% endfor %}
</body>
</html>