<!DOCTYPE html>
<html ng-app="vitoop">
<head>
    <meta charset="utf-8"/>
    <title>vitoop</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/vitoop.css') }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {#<script src="{{ asset('js/vitoop-jquery.js') }}"></script>#}
    <script src="{{ asset('js/vitoop.js') }}"></script>
    <script src="/build/old/angular.min.js"></script>
    {% block css %}{% endblock %}
    <script type="text/javascript">
        vitoop = (function () {
            var baseUrl = '{{ path('_base_url') }}',
                maxperpage = (document.cookie.match('(^|; )' + 'maxperpage' + '=([^;]*)') || 0)[2];
            if (typeof maxperpage === 'undefined') {
                maxperpage = '10';
            }
            var resourceId = {%if resourceId is defined %}{{resourceId}}{%else%}null{%endif%};
            var isCheckMaxLinks = {% if app.user and app.user.getUserConfig and app.user.getUserConfig.getIsCheckMaxLink() %}{{ app.user.getUserConfig.getIsCheckMaxLink() }}{% else %}true{% endif %};
            
            return {
                baseUrl: baseUrl,
                maxperpage: maxperpage,
                resourceId: resourceId,
                isCheckMaxLinks: isCheckMaxLinks,
                isShowHelp: {%if app.user and not app.user.getIsShowHelp() %}false{% else %}true{% endif %}
            };
        }());
    </script>
    {% block includescript %}{% endblock %}
    {% block onloadscript %}{% endblock %}
</head>
<body id="vtp-application"
      ng-controller="MainController"
      {% if (without_js is not defined) and (app.user) and (not app.user.getIsAgreedWithTerms()) %}
         style="display: none"
      {% endif %}>
<div id="vtp-wrapper">
    <div class="vtp-paddingbox">
        <div id="vtp-app">
{#            set projectObj#}
            {% set prjCreatedAt = project.getCreatedAt|date('d.m.Y') %}
            {% set projectObj = {
                id: project.id,
                name: project.name,
                data: project.projectdata.sheet,
                user_name: project.user.username,
                created: prjCreatedAt
            } %}
{#            set lexiconObj#}
            {% set lexiconObj = {
                id: lexicon.id,
                name: lexicon.name,
                data: lexicon.getDescription,
                wikiFullUrl: lexicon.wikifullurl,
                wikiRedirects: lexicon.wikiredirects,
                lexicons: lexicons
            } %}
            {{ editMode }}
            <vtp-app download-size="{{ vsettings.getCurrentDownloadsSize.getValue|number_format(2, '.', ' ') }}"
                     :project="{{ projectObj|json_encode() }}"
                     :lexicon="{{ lexiconObj|json_encode() }}"
                     :edit-mode="{{ editMode|json_encode() }}"
                     :resource-info="{{ resourceInfo|json_encode() }}"
                     :agree-with-term="
                        {% if app.user.getIsAgreedWithTerms() %}
                            {{ app.user.getIsAgreedWithTerms() }}
                        {% else %}
                            false
                        {% endif %}"
                     :edit-mode="{{ editMode|json_encode }}"
                     :invitation="{{ vsettings.getInvitation().getValue() }}"
                     :as-project-owner="{{ showasprojectowner|json_encode() }}">
            </vtp-app>
        </div>
{#        <div id="vtp-header" class="ui-corner-all">#}
{#            <div id="vtp-cmstitle">{% block cmstitle %}{% endblock %}</div>#}
{#        </div>#}
        <div id="vtp-content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="vtp-footer-wrapper">
            <app-footer :agree-with-term="
                        {% if app.user.getIsAgreedWithTerms() %}
                            {{ app.user.getIsAgreedWithTerms() }}
                        {% else %}
                            false
                        {% endif %}" />
        </div>
    </div>
    {% if app.user %}
        {% include 'VitoopInfomgmtBundle:Resource:dialogs.html.twig' %}
        <div id="additional-info" style="display: none">
            <input id="sendlink-url"
                   name="sendlink-url"
                   type="hidden"
                   value="{{ path('vitoop_infomgmt_userlink_userlinks') }}">
        </div>
    {%endif%}
</div>
{% block footerjs %}
<script src="{{ asset('js/angular-modules.js') }}"></script>
<script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('js/datatables/datatables.js') }}"></script>
<script src="{{ asset('app/vitoop.js') }}"></script>
{% if (without_js is not defined) and (app.user) and (not app.user.getIsAgreedWithTerms()) %}
    <script type="text/javascript">
        window.location = "{{ path('user_agreement') }}";
    </script>
{% endif %}
<script type="text/javascript">
    //Firefox bugfixes
    $(document).on('focusin', function(e) {
        if ($(e.target).closest(".mce-window").length) {
            e.stopImmediatePropagation();
        }
    });
    $('select').selectmenu({
        select: function( event, ui ) {
            $('#vtp-search-bytags-form span.ui-selectmenu-button').removeAttr('tabIndex');
        }
    });
</script>
{% endblock footerjs %}
</body>
</html>