{% extends "VitoopInfomgmtBundle:Tag:layout.html.twig" %}
{% block content %}
    <fieldset class="ui-corner-all margin-top-3">
        <table id="tags-list" style="border-collapse: collapse">
            <thead>
            <tr style="background: none; border-bottom: 2px solid gray">
                <td style="width: 29%">
                    Tag:
                </td>
                <td>
                    X
                </td>
                <td>
                    Projekt:
                </td>
                <td>
                    Lexicon:
                </td>
                <td>
                    Pdf:
                </td>
                <td>
                    Textlink:
                </td>
                <td>
                    Link:
                </td>
                <td>
                    Buch:
                </td>
                <td>
                    Adresse:
                </td>
            </tr>
            </thead>
            {% for tag in tags %}
                <tr>
                    <td>
                        {{ tag['text'] }}:
                    </td>
                    <td>
                        {{ tag['cnt'] }}
                    </td>
                    <td>
                        {{ tag['prjc'] }}
                    </td>
                    <td>
                        {{ tag['lexc'] }}
                    </td>
                    <td>
                        {{ tag['pdfc'] }}
                    </td>
                    <td>
                        {{ tag['telic'] }}
                    </td>
                    <td>
                        {{ tag['linkc'] }}
                    </td>
                    <td>
                        {{ tag['bookc'] }}
                    </td>
                    <td>
                        {{ tag['adrc'] }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </fieldset>
{% endblock %}